* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "W95";
    src: url("fonts/w95fa.woff") format("woff");
}

@media screen and (max-width: 767px) {
    .backgroundImg {
        display: none;
    }
}

body {
    height: 100vh;
    width: 100vw;
    cursor: url('images/cursor.png'), auto;
    overflow: hidden;
    display: grid;
    grid-template-rows: 94vh 1vh 5vh;
}

footer {
    grid-column: 1;
    grid-row: 3;
    display: grid;
    grid-template-columns: 4px 90px 1fr repeat(10, 10fr) 1fr 110px 4px;
    background-color: #BDBBBD;
    border-top: 2px solid #f2f2f2;
    font-size: 14px;
    filter: drop-shadow(0px -0.5px #BDBBBD);
}

.start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
    height: 35px;
    margin-top: 0;
    margin-bottom: 0;
    grid-column: 2;
    font-size: 16px;
    padding: 0;
    background-color: #BDBBBD;
    border-right: 2px solid #8F8F8F;
    border-bottom: 2px solid #8F8F8F;
    border-left: 2px solid #f2f2f2;
    border-top: 2px solid #f2f2f2;
    font-family: "W95";
    font-weight: bolder;
    font-size: 22px;
    filter: drop-shadow(1px 1px 1px black);
    cursor: url('images/hoverCursor.png'), auto;
}

.startImg {
    background-image: url('images/Start.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 6px;
    margin-right: 6px;
    width: 25.5px;
    height: 21px;
}

.time {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-self: center;
    height: 35px;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 2px;
    grid-column: 15;
    font-size: 18px;
    background-color: #BDBBBD;
    border-right: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    border-left: 2px solid #8F8F8F;
    border-top: 2px solid #8F8F8F;
    white-space: nowrap;
}

.clock {
    font-family: "W95";
    flex-shrink: 0;
    padding-right: 3px;
    width: 65px;
}

.speaker {
    justify-self: center;
    flex-shrink: 0;
    background-image: url('images/Volume.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 6px;
    height: 26px;
    width: 26px;
    cursor: url('images/hoverCursor.png'), auto;
}

.speaker.muted {
    background-image: url('images/Muted.png');
}

.appGrid {
    margin: 0;
    padding: 0;
    grid-row: 1;
    display: grid;
    justify-items: center;
    grid-template-rows: repeat(8, 11.75vh);
    grid-template-columns: repeat(10, 10vw);
    grid-auto-flow: column;
    background-color: #01ADAD;
}

.blank{
    grid-row: 2;
    background-color: #01ADAD;
}

.backgroundImg{
    grid-column: 5 / span 2;
    grid-row: 4 / span 2;
    justify-self: center;
    align-self: center;
    user-select: none;
}

.backgroundImg p{
    font-family: "W95";
    color: #000000;
    font-size: 50px;
    text-align: center;
    margin-top: 10px;
}

.app {
    padding: 5px;
    align-self: center;
    justify-self: center;
    user-select: none;
    cursor: url('images/hoverCursor.png'), auto;
}

.app p{
    font-family: "W95";
    color: #f2f2f2;
    font-size: 18px;
    text-align: center;
    margin-top: 2px;
}

.appImg {
    align-self: center;
    justify-self: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
}

.app.selected {
    filter: sepia(100%) hue-rotate(190deg) saturate(400%) brightness(80%);
    border: dotted 2px #ffffff;
}

.window {
    position: absolute;
    box-sizing: border-box;
    background-color: #BDBBBD;
    border-top: 2px solid #F2F2F2;
    border-left: 2px solid #F2F2F2;
    border-bottom: 2px solid #8F8F8F;
    border-right: 2px solid #8F8F8F;
    filter:
        drop-shadow(2px 2px 1px black)
        drop-shadow(-0.5px 0px 0px #bdbbbd)
        drop-shadow(0px -0.5px 0px #bdbbbd);
    font-family: "W95";
    display: grid;
    grid-template-rows: 35px auto;
}


#windowHeader {
    grid-row: 1;
    background-color: #000080;
    color: white;
    font-size: 18px;
    margin: 3px;
    display: grid;
    grid-template-columns: 35px auto 30px;
    align-items: center;
    cursor: url('images/dragCursor.png'), auto;
}

.window.background #windowHeader{
    background-color: #8F8F8F;
}

#windowHeader icon{
    grid-column: 1;
    padding-left: 4px;
    height: 25px;
    width: auto;
}

#windowHeader icon img{
    height: 100%;
    width: auto;
}

#windowHeader p{
    grid-column: 2;
    text-align: left;
}

#windowHeader close{
    grid-column: 3;
    align-self: center;
    justify-self: center;
    width: 20px;
    height: 20px;
    border-top: 2px solid #F2F2F2;
    border-left: 2px solid #F2F2F2;
    border-bottom: 2px solid #8F8F8F;
    border-right: 2px solid #8F8F8F;
    filter:
        drop-shadow(1px 1px 1px black);
    margin: 0 5px;
    background-color: #bdbbbd;
    cursor: url('images/hoverCursor.png'), auto;
    background-image: url('images/close.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.05s ease;
}

#windowHeader close:active{
    border-top: 2px solid #8F8F8F;
    border-left: 2px solid #8F8F8F;
    border-bottom: 2px solid #F2F2F2;
    border-right: 2px solid #F2F2F2;
    filter: drop-shadow(0px 0px 0px black);
}

.window content {
    grid-row: 2;
    margin: 3px;
}

#About\ MeWindow content{
    display: grid;
    grid-template-columns: auto 350px auto;
    grid-template-rows: auto 300px 100px auto;
}

#Richie{
    grid-column: 2;
    grid-row: 2;
    height: auto;
    width: 300px;
    border-top: 2px solid #8F8F8F;
    border-left: 2px solid #8F8F8F;
    border-bottom: 2px solid #F2F2F2;
    border-right: 2px solid #F2F2F2;
    justify-self: center;
    
}

#RichieDescription{
    padding-top: 10px;
    grid-column: 2;
    grid-row: 3;
    font-size: 18px;
    justify-self: center;
}

#SocialsWindow content{
    display: grid;
    grid-template-columns: auto 100px 500px auto;
    grid-template-rows: auto 130px 130px 130px auto;
    align-items: center;
    justify-items: center;
}

.socialBtn{
    grid-row: 2;
    width: 100px;
    height: 100px;
    background-color: #bdbbbd;
    border-top: 2px solid #F2F2F2;
    border-left: 2px solid #F2F2F2;
    border-bottom: 2px solid #8F8F8F;
    border-right: 2px solid #8F8F8F;
    font-family: "W95";
    font-size: 12px;
    cursor: url('images/hoverCursor.png'), auto;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 40px;
    filter: drop-shadow(1px 1px 1px black);
}

.socialBtn p{
    grid-column: 3;
}

.socialBtn#github{
    grid-column: 2;
    grid-row: 2;
    background-image: url("images/GitHubLogo.png");
}

.window content #githubDesc{
    grid-column: 3;
    grid-row: 2;
    justify-self: left;
}

.socialBtn#linkedin{
    grid-column: 2;
    grid-row: 3;
    background-image: url("images/LinkedInLogo.png");
}

.window content #linkedInDesc{
    grid-column: 3;
    grid-row: 3;
    justify-self: left;
}

.socialBtn#email{
    grid-column: 2;
    grid-row: 4;
    background-image: url("images/GmailLogo.png");
}

.window content #emailDesc{
    grid-column: 3;
    grid-row: 4;
    justify-self: left;
}

#ResumeWindow content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.resumeContainer{
    position: relative;
    display: inline-block;
}

.resumeBtn{
    position: absolute;
    top: 10px;
    padding: 5px 10px;
    background-color: #BDBBBD;
    border-top: 2px solid #F2F2F2;
    border-left: 2px solid #F2F2F2;
    border-bottom: 2px solid #8F8F8F;
    border-right: 2px solid #8F8F8F;
    font-family: "W95";
    font-size: 16px;
    cursor: url('images/hoverCursor.png'), auto;
    filter: drop-shadow(1px 1px 1px black)
}

#downloadBtn{
    left: 10px;
}

#newTabBtn{
    right: 10px;
}

#toolbar{
    display: none;
}

#emailForm{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    font-family: "W95";
}

.formRow{
    display: flex;
    gap: 15px;
}

.formGroup{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.formGroup:has(#senderName){
    flex: 0.5;
}

.formGroup:has(#senderEmail){
    flex: 1;
}

.formGroup label{
    font-size: 14px;
    font-weight: bold;
}

.formGroup input,
.formGroup textarea{
    padding: 5px;
    font-family: "W95";
    font-size: 14px;
    background-color: white;
    border-top: 2px solid #8F8F8F;
    border-left: 2px solid #8F8F8F;
    border-bottom: 2px solid #F2F2F2;
    border-right: 2px solid #F2F2F2;
}

.formGroup textarea{
    resize: vertical;
}

.sendBtn{
    align-self: center;
    background-color: #BDBBBD;
    border-top: 2px solid #F2F2F2;
    border-left: 2px solid #F2F2F2;
    border-bottom: 2px solid #8F8F8F;
    border-right: 2px solid #8F8F8F;
    height: 40px;
    width: 120px;
    font-family: "W95";
    font-size: 18px;
    cursor: url('images/hoverCursor.png'), auto;
    margin-top: -4px;
    filter: drop-shadow(1px 1px 1px black);
}

.resetBtn{
    background-color: #BDBBBD;
    border-top: 2px solid #F2F2F2;
    border-left: 2px solid #F2F2F2;
    border-bottom: 2px solid #8F8F8F;
    border-right: 2px solid #8F8F8F;
    height: 40px;
    width: 120px;
    font-family: "W95";
    font-size: 18px;
    cursor: url('images/hoverCursor.png'), auto;
    margin-top: -4px;
    filter: drop-shadow(1px 1px 1px black);
}

.successContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 115px;
}

#Email\ Me\!Window content p{
    font-size: 24px;
    text-align: center;
    padding: 50px;
    font-family: "W95";
}

.button{
    transition: all 0.05s ease;
}

.button:active{
    border-top: 2px solid #8F8F8F;
    border-left: 2px solid #8F8F8F;
    border-bottom: 2px solid #F2F2F2;
    border-right: 2px solid #F2F2F2;
    filter: drop-shadow(0px 0px 0px black);
    transform: translate(1px, 1px);
}