* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "W95";
    src: url("fonts/w95fa.woff") format("woff");
}

@media screen and (max-width: 767px) {
    .backgroundImg {
        display: none;
    }
}

body {
    height: 100vh;
    width: 100vw;
    cursor: url('images/cursor.png'), auto;
    overflow: hidden;
    display: grid;
    grid-template-rows: 94vh 1vh 5vh;
}

footer {
    grid-column: 1;
    grid-row: 3;
    display: grid;
    grid-template-columns: 6vw 2vw 84vw 8vw;
    background-color: #BDBBBD;
    border-top: 2px solid #f2f2f2;
    font-size: 14px;
    filter: drop-shadow(0px -0.5px #BDBBBD);
}

.start {

}

.time {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 35px;
    margin-top: 0;
    margin-bottom: 0;
    grid-column: -2;
    font-size: 16px;
    padding: 0;
    background-color: #BDBBBD;
    border-right: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    border-left: 2px solid #8F8F8F;
    border-top: 2px solid #8F8F8F;
}

.clock {
    font-family: "W95";
}

.speaker {
    background-image: url('images/Volume.png');
    background-size: contain;
    background-position: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 30px;
    height: 26px;
    width: 26px;
    cursor: url('images/hoverCursor.png'), auto;
}

.speaker.muted {
    background-image: url('images/Muted.png');
}

.appGrid {
    margin: 0;
    padding: 0;
    grid-row: 1;
    display: grid;
    grid-template-rows: repeat(8, 11.75vh);
    grid-template-columns: repeat(10, 10vw);
    grid-auto-flow: column;
    background-color: #01ADAD;
}

.blank{
    grid-row: 2;
    background-color: #01ADAD;
}

.backgroundImg{
    grid-column: 5 / span 2;
    grid-row: 4 / span 2;
    justify-self: center;
    align-self: center;
    user-select: none;
}

.backgroundImg p{
    font-family: "W95";
    color: #000000;
    font-size: 50px;
    text-align: center;
    margin-top: 10px;
}

.app {
    padding: 5px;
    align-self: center;
    justify-self: center;
    user-select: none;
}

.app p{
    font-family: "W95";
    color: #f2f2f2;
    font-size: 18px;
    text-align: center;
    margin-top: 2px;
    cursor: url('images/hoverCursor.png'), auto;
}

.app.selected {
    filter: sepia(100%) hue-rotate(190deg) saturate(400%) brightness(80%);
    border: dotted 2px #ffffff;
}

.window {
    position: absolute;
    box-sizing: border-box;
    background-color: #BDBBBD;
    border-top: 2px solid #F2F2F2;
    border-left: 2px solid #F2F2F2;
    border-bottom: 2px solid #8F8F8F;
    border-right: 2px solid #8F8F8F;
    filter:
        drop-shadow(2px 2px 1px black)
        drop-shadow(-0.5px 0px 0px #bdbbbd)
        drop-shadow(0px -0.5px 0px #bdbbbd);
    font-family: "W95";
    display: grid;
    grid-template-rows: 35px auto;
}


#windowHeader {
    grid-row: 1;
    background-color: #000080;
    color: white;
    font-size: 18px;
    margin: 3px;
    display: grid;
    grid-template-columns: 35px auto 30px;
    align-items: center;
    cursor: url('images/dragCursor.png'), auto;
}

.window.background #windowHeader{
    background-color: #8F8F8F;
}

#windowHeader icon{
    grid-column: 1;
    padding-left: 4px;
    height: 25px;
    width: auto;
}

#windowHeader icon img{
    height: 100%;
    width: auto;
}

#windowHeader p{
    grid-column: 2;
    text-align: left;
}

#windowHeader close{
    grid-column: 3;
    align-self: center;
    justify-self: center;
    width: 20px;
    height: 20px;
    border-top: 2px solid #F2F2F2;
    border-left: 2px solid #F2F2F2;
    border-bottom: 2px solid #8F8F8F;
    border-right: 2px solid #8F8F8F;
    filter:
        drop-shadow(1px 1px 1px black);
    margin: 0 5px;
    background-color: #bdbbbd;
    cursor: url('images/hoverCursor.png'), auto;
    background-image: url('images/close.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

.window content {
    grid-row: 2;
    margin: 3px;
}

#SocialsWindow content{
    display: grid;
    grid-template-columns: auto 100px 500px auto;
    grid-template-rows: auto 130px 130px 130px auto;
    align-items: center;
    justify-items: center;
}

.socialBtn{
    grid-row: 2;
    width: 100px;
    height: 100px;
    background-color: #bdbbbd;
    border-top: 2px solid #F2F2F2;
    border-left: 2px solid #F2F2F2;
    border-bottom: 2px solid #8F8F8F;
    border-right: 2px solid #8F8F8F;
    font-family: "W95";
    font-size: 12px;
    cursor: url('images/hoverCursor.png'), auto;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 40px;
}

.socialBtn p{
    grid-column: 3;
}

.socialBtn#github{
    grid-column: 2;
    grid-row: 2;
    background-image: url("images/GitHubLogo.png");
}

.window content #githubDesc{
    grid-column: 3;
    grid-row: 2;
    justify-self: left;
}

.socialBtn#linkedin{
    grid-column: 2;
    grid-row: 3;
    background-image: url("images/LinkedInLogo.png");
}

.window content #linkedInDesc{
    grid-column: 3;
    grid-row: 3;
    justify-self: left;
}

.socialBtn#email{
    grid-column: 2;
    grid-row: 4;
    background-image: url("images/GmailLogo.png");
}

.window content #emailDesc{
    grid-column: 3;
    grid-row: 4;
    justify-self: left;
}

#ResumeWindow content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.resumeContainer{
    position: relative;
    display: inline-block;
}

.resumeBtn{
    position: absolute;
    top: 10px;
    padding: 5px 10px;
    background-color: #BDBBBD;
    border-top: 2px solid #F2F2F2;
    border-left: 2px solid #F2F2F2;
    border-bottom: 2px solid #8F8F8F;
    border-right: 2px solid #8F8F8F;
    font-family: "W95";
    font-size: 16px;
    cursor: url('images/hoverCursor.png'), auto;
}

#downloadBtn{
    left: 10px;
}

#newTabBtn{
    right: 10px;
}

#toolbar{
    display: none;
}