* {
    margin: 0;
    padding: 0;
    cursor: url('images/cursor.png'), auto;
    background-color: #01ADAD;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template-rows: 94vh 6vh;
}

footer {
    grid-column: 1;
    grid-row: 2;
    background-color: #BDBBBD;
    border-top: 3px solid #f2f2f2;
    font-size: 14px;
}

.appGrid {
    margin: 0;
    padding: 0;
    grid-row: 1;
    display: grid;
    grid-template-rows: repeat(8, 11.75vh);
    grid-template-columns: repeat(10, 10vw);
}

.app {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: center;
}

.app:hover {
    color: gray;
    transform: translateY(-2px);
    transition: .3s ease all color .2s ease;
    cursor: url('images/hoverCursor.png'), auto;
}