* {
    margin: 0;
    padding: 0;
    
}

@font-face {
    font-family: "W95";
    src: url("fonts/w95fa.woff") format("woff");
}

@media screen and (max-width: 767px) {
    .backgroundImg {
        display: none;
    }
}

body {
    height: 100vh;
    width: 100vw;
    cursor: url('images/cursor.png'), auto;
    overflow: hidden;
    display: grid;
    grid-template-rows: 94vh 1vh 5vh;
}

footer {
    grid-column: 1;
    grid-row: 3;
    display: grid;
    grid-template-columns: 6vw 2vw 84vw 8vw;
    background-color: #BDBBBD;
    border-top: 2px solid #f2f2f2;
    font-size: 14px;
}

.start {

}

.time {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 35px;
    margin-top: 0;
    margin-bottom: 0;
    grid-column: -2;
    font-size: 16px;
    padding: 0;
    background-color: #BDBBBD;
    border-right: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    border-left: 2px solid #8F8F8F;
    border-top: 2px solid #8F8F8F;
}

.clock {
    font-family: "W95";
}

.speaker {
    background-image: url('images/Volume.png');
    background-size: contain;
    background-position: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 30px;
    height: 26px;
    width: 26px;
}

.speaker:hover {
    cursor: url('images/hoverCursor.png'), auto;
}

.speaker.muted {
    background-image: url('images/Muted.png');
}

.appGrid {
    margin: 0;
    padding: 0;
    grid-row: 1;
    display: grid;
    grid-template-rows: repeat(8, 11.75vh);
    grid-template-columns: repeat(10, 10vw);
    grid-auto-flow: column;
    background-color: #01ADAD;
}

.blank{
    grid-row: 2;
    background-color: #01ADAD;
    border-bottom: 1px solid #BDBBBD;
}

.backgroundImg{
    grid-column: 5 / span 2;
    grid-row: 4 / span 2;
    align-self: center;
    justify-self: center;
    position: fixed;
    user-select: none;
}

.app {
    padding: 5px;
    align-self: center;
    justify-self: center;
    user-select: none;
}

.app p{
    font-family: "W95";
    color: #f2f2f2;
    font-size: 18px;
    text-align: center;
    margin-top: 2px;
}

.app:hover {
    cursor: url('images/hoverCursor.png'), auto;
}

.app.selected {
    filter: sepia(100%) hue-rotate(190deg) saturate(400%) brightness(80%);
    border: dotted 2px #ffffff;
}

.app.opened {

}