* {
    margin: 0;
    padding: 0;
    background-color: #01ADAD;
}

@font-face {
    font-family: "W95";
    src: url("fonts/w95fa.woff") format("woff");
}

body {
    height: 100vh;
    width: 100vw;
    cursor: url('images/cursor.png'), auto;
    overflow: hidden;
    display: grid;
    grid-template-rows: 94vh 6vh;
}

footer {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(16, 6.25vw);
    background-color: #BDBBBD;
    border-top: 3px solid #f2f2f2;
    font-size: 14px;
}

.start {

}

.time {
    grid-column: -2;
}

.appGrid {
    margin: 0;
    padding: 0;
    grid-row: 1;
    display: grid;
    grid-template-rows: repeat(8, 11.75vh);
    grid-template-columns: repeat(10, 10vw);
    grid-auto-flow: column;
}

.backgroundImg{
    grid-column: 5 / span 2;
    grid-row: 4 / span 2;
    align-self: center;
    justify-self: center;
    position: fixed;
    user-select: none;
}

.app {
    font-family: "W95";
    padding: 5px;
    align-self: center;
    justify-self: center;
    user-select: none;
}

.app p{
    text-align: center;
    margin-top: 0px;
    font-size: 14px;
    color: black;
}

.app:hover {
    cursor: url('images/hoverCursor.png'), auto;
}

.app.selected {
    filter: sepia(100%) hue-rotate(190deg) saturate(400%) brightness(80%);
    border: dotted 2px #ffffff;
}

.app.opened {

}