* {
    cursor: url('images/cursor.png'), auto;
    background-color: #01ADAD;
}

body {
}

h1 {
    width: fit-content;
}

h1:hover {
    color: gray;
    transform: translateY(-2px);
    transition: .3s ease all color .2s ease;;
    cursor: url('images/hoverCursor.png'), auto;
}

#snoopy {
    width: 1000px;
    height: 500px;
}